<!DOCTYPE html>
<html>
    <head>
        <title>Web board</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <a href='/'><h1>Welcome my world : {{ owner }}</h1></a>
        <a href='/login'>login</a>
        <a href='/logout'>logout</a>
        <a href='/join'>join</a>
        <a href='/withdraw'>withdraw</a><br><br>
        <a href='/write'>write</a>
        <a href='/update/{{id}}'>update</a>
        <a href='/delete/{{id}}'>delete</a>

        <h2>{{ title }}</h2>
        {{ content}}

        <ol>
            {{ menu | safe }}
        </ol>
        <form action='/update/{{id}}', method = 'POST'>
            <p><input type='text' name='title' value='{{update_title}}' autofocus required></p>
            <p><textarea cols=40 rows=10 name='description'  required>{{update_content}}</textarea></p>
            <p><button type='submit'>게시판 글수정</button></p>
        </form>
        
    </body>
</html>